@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .max-h-1\/2 {
    max-height: 50%;
  }

  .max-h-2\/4 {
    max-height: 50%;
  }

  .h-18 {
    height: 4.5rem;
  }

  .w-26 {
    width: 6.5rem;
  }

  .animate-smooth-rounded:hover > .animate-smooth-rounded__target {
    border-radius: 0.75rem !important;
  }

  .animate-smooth-rounded__target {
    border-radius: 50% !important;

    -moz-transition: border-radius 0.1s ease-out;
    -o-transition: border-radius 0.1s ease-out;
    -webkit-transition: border-radius 0.1s ease-out;
    transition: border-radius 0.1s ease-out;
  }

  .animate-smooth-rounded--fixed > .animate-smooth-rounded__target {
    border-radius: 0.75rem !important;
  }

  .border-3 {
    border-width: 3px;
  }

  .text-xxs {
    font-size: 10px;
  }

  .shadow-divider-b {
    box-shadow: 0px 0px 1px 1px var(--tw-shadow-color);
  }

  .scroller {
    @apply scrollbar scrollbar-thumb-midnight-900 scrollbar-track-midnight-400;
  }

  .scroller::-webkit-scrollbar-thumb,
  .scroller::-webkit-scrollbar-track {
    border: 0.25rem solid transparent;
    background-clip: padding-box;
    border-radius: 0.5rem;
  }

  .scroller::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@layer components {
  .ui-ring {
    @apply outline-none ring-blue-300 dark:ring-blue-600 dark:ring-offset-slate-700;
  }

  .scrollbar-border::-webkit-scrollbar-track,
  .scrollbar-border::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: theme("borderWidth.DEFAULT") solid transparent;
  }

  .scrollbar-border-2::-webkit-scrollbar-track,
  .scrollbar-border-2::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: theme("borderWidth.2") solid transparent;
  }

  .scrollbar-border-4::-webkit-scrollbar-track,
  .scrollbar-border-4::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: theme("borderWidth.4") solid transparent;
  }
}

* {
  font-family: "Noto Sans", sans-serif;
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
 */
